body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  color: #4682B4;
}

h1 {
  width: 255px;
  margin: 0 auto 8px;
  font-family: "Georgia", serif;
  text-align: center;
  font-weight: normal;
  font-size: 56px;
  line-height: 64px;
  color: #4682B4;
}

h2 {
  border-bottom: 2px solid #cccccc;
  padding-bottom: 12px;
  color: #4682B4;
}

h3 {
  width: 510px;
  margin: 0 auto;
  padding: 0 20px;
  color: #2d5373;
}

h4 {
  min-width: 550px;
  height: 186px;
  margin-bottom: 70px;
  padding-top: 30px;
  background: #ffffff;
  background-size: cover;
  color: #2d5373;
}

f5 p {
  width: 255px;
  margin: 0 auto 26px;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  color: #2d5373;
}

.features img {
  display: block;
  margin: 0 auto;
}

.features {
  width: 510px;
  margin: 0 auto 30px;
  padding: 0 20px;
}

.features p {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  margin: 0 5px;
  background-repeat: no-repeat;
  background-position: center top;
  text-align: center;
  color: #2d5373;
}

.feature-furniture {
  padding-top: 65px;
  color: #2d5373;
}

.feature-lighting {
  padding-top: 65px;
  color: #2d5373;
}

.feature-accessories {
  padding-top: 65px;
  color: #2d5373;
}

.advantages {
  width: 510px;
  margin: 0 auto 40px;
  padding: 0 20px;
  color: #2d5373;
}

.advantages-list {
  padding: 0;
  list-style: none;
  color: #2d5373;
}

.advantages-item {
  margin-bottom: 15px;
  padding-left: 20px;
  border-left: 20px solid #c4c178;
  color: #2d5373;
}

.standard {
  border-color: #4682B4;
  color: #2d5373;
}
.clients {
  width: 510px;
  margin: 0 auto 40px;
  padding: 0 20px;
  color: #2d5373;
}

.clients-list {
  padding: 0;
  list-style: none;
  color: #2d5373;
}

.clients-item {
  margin-bottom: 15px;
  padding-left: 20px;
  border-left: 20px solid #c4c178;
  color: #2d5373;


.site-footer {
  min-width: 550px;
  background-color: #78b1c4;
  color: #2d5373;
}

.site-footer .container {
  text-align: center;
}

.site-footer p {
  display: inline-block;
  vertical-align: middle;
  padding: 0 20px;
}


